


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar">OPEN</span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>

    <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">NEWS</a></li>
        <li><a href="#">SPECIALS</a></li>
        <li class="dropdown">
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Akcja</a></li>
              <li><a href="#">Inna akcja</a></li>
              <li><a href="#">Coś jeszcze innego</a></li>
              <li class="divider"></li>
              <li><a href="#">Oddzielone linki</a></li>
              <li class="divider"></li>
            </ul>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/tours">Timetable</a>
  <a routerLink="/about-us">About Us</a>
  <a routerLink="/add-edit-atour" *ngIf="logged">Add/Edit a Tour</a>
  <a routerLink="/make-reservation">Make Reservation</a>
  <a routerLink="/contact-us">Contact Us</a>
  <a routerLink="/login" *ngIf="!logged">Login</a>
  <a routerLink="/login" (click)="logout()" *ngIf="logged">Logout</a>
</nav>
<router-outlet></router-outlet><
<app-messages></app-messages>
